<!-- Div Contact holds content of the forum -->
<div class="d-flex justify-content-center align-items-center h-100">
	<div class="form1">
	<form id="myForm" action="mailto:sean.jackson@ontariotechu.net" method="post"
     enctype="text/plain" name="form">
			<p>
				<label for="Name">Name</label>
				<input id="Name" type="text" placeholder="Enter Name: " name="name" required>
			</p>

			<p>
				<label for="email">Email</label>
				<input id="email" type="text" placeholder="Enter Email: " name="email" required>
			</p>

			<p>
				<label for="number">Number</label>
				<input id="number" type="number" placeholder="Enter Phone Number: " name="number">
			</p>

			<p>
				<label for="comments">Comments</label><br>
				<textarea name="comments" id="comments" rows="4" cols="32"></textarea>
			</p>
			<p><input id="button1" type="submit" value="Submit"></p> 
			<p><input id="button2" type="reset" value="Reset"></p>
		
	</form>
	</div>
<div>