<!--Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/" >Crypto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <% if (title == "Home") { %>
            <a class="nav-link active" href="/home">
          <% } else { %>
            <a class="nav-link" href="/home">
          <% } %>
            <i class="fa-solid fa-house-chimney"></i> Home</a>
        </li>

        <li class="nav-item">
          <% if (title == "Past") { %>
            <a class="nav-link active" href="/past">
          <% } else { %>
            <a class="nav-link" href="/past">
          <% } %>
            <i class="fa-solid fa-hourglass-end"></i> Past</a>
        </li>

        <li class="nav-item">
          <% if (title == "Contact") { %>
            <a class="nav-link active" href="/contact">
          <% } else { %>
            <a class="nav-link" href="/contact">
          <% } %>
            <i class="fa-solid fa-envelope"></i> Contact</a>
        </li>

  </div>
</nav>