<!--Nav Bar -->
<br>
<br>

<table class="table table-dark table-striped text-center">
  <thead>
  <h1 class="h-One text-center"> 2021 Bull Cycle</h1>
  <br>
    <tr class="table-danger">
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">All Time High * ATH *</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bitcoin</td>
      <td>Nov 10, 2021</td>
      <td>$82,564.80</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Etherium</td>
      <td>Nov 14, 2021</td>
      <td>$6000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cardano</td>
      <td>Sept 21, 2021</td>
      <td>$4.12</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Solona</td>
      <td>Nov 6, 2021</td>
      <td>$348.75</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Dogecoin</td>
      <td>May 21, 2021</td>
      <td>$0.98</td>
    </tr>
  </tbody>
  
</table>


