<!--Nav Bar -->
<br>
<br>
<table class="table table-dark table-striped text-center">
  <thead>
    <tr class="table-danger">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">All Time High * ATH *</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bitcoin</td>
      <td>Nov 10, 2021</td>
      <td>$82,564.80</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Etherium</td>
      <td>Nov 14, 2021</td>
      <td>$6000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cardano</td>
      <td>Sept 21, 2021</td>
      <td>$4.12</td>
    </tr>
  </tbody>
  
</table>

<div class="container my-5">

  <!-- Jumbotron bootstrap template -->
  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" 
       style="background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');">
    <h1 class="mb-3 h2">Cryptocurrencies:</h1>

    <p>The above Cryptocurrencies were successful last bullrun. </p>

  </div>


</div>