<!-- Header -->
<% include ../partials/header.ejs %>
<!-- Main Navigation -->
<% include ../partials/main_nav.ejs %>
<!-- Main content -->
<main class="container">
    <div class="rows">
    <div class="col-md-offset-3 col-md-10">
        <h1><%= title %></h1>
    
    
    <table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="text-center col-1">Name</th>
        <th class="text-center col-1">Created</th>
        <th class="text-center col-1">Popularity</th>
        <th class="text-center col-1">Total</th>
        <th class="text-center col-1">Price</th>
        <th class="text-center col-2"></th>
        <th class="text-center col-2"></th>
    </tr>

   
   
    
    </table>
    <div>

</div>
</main>
<!-- Bottom Navigation -->
<%- include ../partials/bottom_nav.ejs %>
<!-- Footer -->
<%- include ../partials/footer.ejs %>