<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<!-- Main Navigation -->
<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Welcome to <%= title %></h1>
    <% include partials/home.ejs %>
    <% include partials/past.ejs %>
    <% include partials/past.ejs %> 
    <% include partials/contact.ejs %>
  </div>
</div>
</main>
<!-- Bottom Navigation -->
<% include partials/bottom_nav.ejs %>
<!-- Footer -->
<% include partials/footer.ejs %>